#app {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* hero styling  */

.sectionMa {
  height: 300px;
  width: 700px;
}

.mainHeroDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 80px;
}

.img1Div {
  height: 310px;
  width: 310px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 0 14px 2px rgb(213, 213, 213);
}

.img2Div {
  height: 150px;
  width: 150px;
  border-radius: 20px;
  margin-bottom: 15px;
  position: relative;
  box-shadow: 0 0 14px 2px rgb(213, 213, 213);
}

.img3Div {
  height: 150px;
  width: 150px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 0 14px 2px rgb(213, 213, 213);
}

.ImageStyles {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.hidden1Div {
  position: absolute;
  bottom: 0;
  padding: 10px 20px;
  cursor: pointer;
}

.hidden1Div h2 {
  font-size: 20px;
  color: black;
  font-weight: bold;
  margin-bottom: -1px;
}

.hidden1Div span {
  font-size: 15px;
  color: black;
}

/* div 2 */
.hidden2Div {
  position: absolute;
  bottom: 0;
  padding: 10px 20px;
  cursor: pointer;
}

.hidden2Div h2 {
  font-size: 13px;
  color: black;
  font-weight: bold;
  margin-bottom: -7px;
}

.hidden2Div span {
  font-size: 8px;
  color: black;
}

/* div 3 */
.hidden3Div {
  position: absolute;
  bottom: 0;
  padding: 8px 14px;
  cursor: pointer;
}

.hidden3Div h2 {
  font-size: 13px;
  color: black;
  font-weight: bold;
  margin-bottom: -7px;
}

.hidden3Div span {
  font-size: 8px;
  color: black;
}

.mainImg1Div {
  width: 50%;
}

@media only screen and (max-width: 1400px) {
  .sectionMa {
    width: 500px;
  }

  .img1Div {
    height: 240px;
    width: 230px;
  }

  .img2Div {
    height: 120px;
    width: 120px;
  }

  .img3Div {
    height: 120px;
    width: 120px;
  }
}

@media only screen and (max-width: 1020px) {
  .sectionMa {
    width: 700px;
  }

  .img1Div {
    height: 310px;
    width: 310px;
  }

  .img2Div {
    height: 150px;
    width: 150px;
  }

  .img3Div {
    height: 150px;
    width: 150px;
  }
}

@media only screen and (max-width: 800px) {
  .sectionMa {
    width: 700px;
  }
  .mainHeroDiv {
    margin-left: 0;
  }
  .mobileViewGayab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 580px) {
  .mobileViewGayab {
    display: none;
  }
  .mainImg1Div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
